---
import PageLayout from '../../layouts/PageLayout.astro'
import BlogPostCard from '../../components/BlogPostCard.astro'

export async function getStaticPaths() {
  const allBlogPosts = Object.values(import.meta.glob('../blog/*.md', { eager: true }))
  const uniqueTags = [ ...new Set( allBlogPosts.map( (blogPost: any) => blogPost.frontmatter.tags ).flat() ) ]

  return uniqueTags.map( tag => {
    const filteredPosts = allBlogPosts.filter((blogPost: any) => blogPost.frontmatter.tags.includes( tag ))
    return { params: { tag: tag.replace(' ', '-') }, props: { posts: filteredPosts } }
  })
}

const { tag: urlTag } = Astro.params
const tag = urlTag.replace('-', ' ')

const { posts } = Astro.props
---
<style>
  h1 span {
    display: inline-block;

    text-decoration: underline dotted;
  }

  ul {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
			gap: 16px;

			padding: 0;

			list-style: none;
		}

		li {
			display: flex;

			transition: transform 0.2s ease-in-out;
		}

		li:hover {
			transform: scale(1.05);
		}
</style>
<PageLayout title={`Historias de ${tag}`}>
  <section>
    <h1>Historias sobre <span>{tag}</span></h1>
    <ul>
      { posts.sort( (a: any, b: any) => b.frontmatter.pubDate - a.frontmatter.pubDate ).map( (post:any) => (
        <li>
          <BlogPostCard link={post.url} title={post.frontmatter.title} intro={post.frontmatter.intro} />
        </li>
      ))}
    </ul>
  </section>
</PageLayout>