---
import PageLayout from "./PageLayout.astro"

const {frontmatter} = Astro.props
---
<style>
  article {
    max-width: 800px;

    margin: 0 auto;
  }

  p {
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
    margin: 0;
    padding: 16px 0;

    list-style-type: none;
  }

  a {
    display: block;

    padding: 8px 16px;
    border-radius: 24px;

    font-size: .75em;

    background-color: #ffa0a6;

    transition: transform .2s, color .2s;
  }

  a:hover {
    transform: scale(1.1);
  }
</style>
<PageLayout title={frontmatter.title} metadescription={frontmatter.description}>
  <section>
    <h1>{frontmatter.title}</h1>
    <p>Publicado en: {new Date(frontmatter.pubDate).toLocaleDateString()}</p>
    <ul>
      { frontmatter.tags.map( (tag: string) => (<li><a href={`/tags/${tag.replace(' ', '-')}`}>{tag}</a></li>) ) }
    </ul>
    <article>
      <slot />
    </article>
  </section>
</PageLayout>